@font-face{
	font-family: 'personal';
	src: url(../../fuentes/Mollen-Personal-Use-Regular.otf);
}
@font-face{
	font-family: 'Samsung';
	src: url(../../fuentes/samsungsharpsans-bold.woff);
}
@font-face{
	font-family: 'Inter';
	src: url(../../fuentes/Inter-SemiBold.ttf);
}

*{
	padding: 0;
	margin: 0;
}

body{
	scroll-behavior: smooth;

	color:#000 ;
}

h3{
	text-align:center;
}

.logo{
    width: 55px;
	position: absolute;
	top: 0;
	right: 0;
	
}

header{
	scroll-behavior: smooth;
    width: 80%;
    background-color: black;
    border-bottom: 3px groove #8C2DC6;
    padding-left: 10%;
    padding-right: 10%;
    font-weight: bold;
	position: static;
}

.flotador-izquierdo{
    float: left;
	position: fixed;
	z-index: 1;
	font-family: 'personal';
	display: flex;
    align-items: center;
}

.flotador-derecho{
    float: right;
	position: relative;
	z-index: 1;
	display: flex;
    align-items: center;
}

.TituloImg{
	position: relative;
	text-align: center;
	color: white;
	clip-path: polygon(0 0, 100% 0, 100% 74%, 0 84%);
	width: 100%;
}
.Titulo{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 3.1em;
	font-weight: bold;
	color: #000;
	font-family: 'Samsung';
	display: flex;
	padding: 1% 5%;
	text-align: center;
	justify-content: center;
}

.topnav {
	background-color: #000000;
	overflow: hidden;
	position: static;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	position: static;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
	background-color: #8C2DC6;
	color: black;
  }
  
  /* Add an active class to highlight the current page */
  
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
	display: none;
  }




.titulo-seccion{
	width: 100%;
	padding-top: -60%;
	text-align: center;
	font-family: 'Samsung';
	
} 
.seccion-noticias{
	width: 80%;
	padding: 2% 10%;
	font-family: 'Inter';
}
.imagen-noticia{
	width:100%;
	height: 180px;
	background-size: cover;
	border-radius: 10px 10px 0px 0px;
}
.noticia-individual{
	width: 30%;
	height: 530px;
	border: 3px solid black;
	border-radius: 10px;
	margin: 10px;
	text-align: justify;
	padding-bottom: 1%;
	float: left;
}
.titulo-noticia{
	padding: 1% 5%;
}
.resumen-noticia{
	padding: 1% 5%;
}
.boton-noticia{
	background-color: black;
	padding: 2% 0;
	margin: 6% 5%;
	text-decoration: none;
	color: white;
	display: block;
	text-align: center;
	border-radius: 10px;
	border: 3px solid #8C2DC6;
}

.boton-noticia:hover{
	border: 3px solid white;
	color: white;
	background-color:#8C2DC6;
	transition: 0.5s;
}
.romper-float{
    padding-top: 5%;
	clear: both;
	display: flex;
}
.Boton{
	background-color: #000;
	color:#FFFFFF;
	overflow: hidden;
	position: relative ;
	text-decoration: none;
	padding: 30px 60px;
	border-radius: 30px;
	border: 3px solid  #8C2DC6;
	margin: 10px;
	cursor: pointer;
	font-family: 'Inter';
	font-size: 25px;
}
.Boton:hover{
	background-color:  #8C2DC6;
	transform: scale(1.125);
	transition: 0.7s;
}

a{
	text-decoration: none;
}


.contenedor-contacto{
	width: 100%;
	height: 550px;
	background: url(/img/banner_contacto.jpg);
	background-size: cover;
	font-family: 'personal';
}
.form{
	width: 30%;
	float: left;
	margin-top: 20px;
	margin-left: 5%;
}


.contenedor-contacto{
	width: 100%;
	height: 100vh;
	background-color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
}
.form-content{
	width: 100%;
	max-width: 450px;
	background-color: #000;
	padding: 50px 60px 70px ;
	text-align: center;
	border-radius: 25px;
}
.form-content h1{
	font-size: 30px;
	margin-bottom: 60px;
	color: #FFFFFF;
	position: relative; 
}
.form-content h1::after{
	content: '';
	width: 30px;
	height: 4px;
	border-radius: 3px;
	background-color: #510083;
	position: absolute;
	bottom: -12px;
	left: 50%;
	transform: translate(-50%);
}
.input-field{
	background-color: #222;
	margin: 15px 0;
	border-radius:  3px;
	display: flex;
	align-items: center;
	transition: max-height 0.5s;
	overflow: hidden;
}
input{
	width: 100%;
	background: transparent;
	border: 0;
	outline: none;
	padding: 18px 15px;
	color: #FFFFFF;
}
.input::placeholder{
	color: #FFFFFF;

}
.input-field i {
	margin-left: 15px;
	color: #510083;
}
.form p{
	color: #FFFFFF;
	text-align: left;
	font-size: 13px;

}
.btn-field{
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 10px 0 0 0;
	margin: 5px 0 0 0;
	z-index: -100;
}
.btn-field button{
	flex-basis: 48%;
	font-size: 15px;
	background-color: #000;
	color: #FFFFFF;
	height: 40px;
	border-radius: 10px;
	border: 3px solid #8C2DC6;
	outline: 0;
	cursor: pointer;
	transition: background 1s;
	font-family: 'Inter';
}
.btn-field button:hover{
	background-color:  #8C2DC6;
	transform: scale(1.125);
	transition: 0.7s;
}
.input-group{
	height: 250px;
}

.social-media{
	margin-top: 12px;
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
}

textarea{
	min-width: 94%;
	max-width: 94%;
	max-height: 40px;
	min-height: 20px;
	font-family: 'personal';
}



.logo-pie { 
	width: 140px;
}
figure{
	display: flex;
	justify-content: center;
}

.contenedor-pie-pagina{
	width: 100%;
	display: grid;
	grid-template-columns:repeat(3, 1fr); 
	background-color: #CDCDCD;
	font-family: 'Inter';
}

.pie{
	width: 89%;
	padding: 5% 5%;
}

.pie a { 
	text-decoration: none;
}

.redes-sociales { 
	width: 17px;
	height: 17px;
	border: solid 1px #000;
	padding: 10px;
	border-radius: 30px;
}


.pie-pagina-copyright{
	background-color: #510083;
	padding: 10px 10px;
	text-align: center;
	color: white;
	font-family: 'Inter';
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

	.Titulo {
		font-size: 2em; /* Tamaño de fuente más pequeño */
		width: auto; /* Ancho automático para adaptarse al contenedor */
		padding: 1% 2%; /* Padding ajustado */
    }

    header .flotador-izquierdo, header .flotador-derecho {
        flex-direction: column;
    }

    header .flotador-izquierdo {
        margin-bottom: 10px;
    }

    .seccion-noticias {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .noticia-individual {
        width: 80%;
        margin-bottom: 20px;
    }
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 480px) {
	header{
		width: 100%;
		padding: 0;
	}

    header .flotador-izquierdo, header .flotador-derecho {
        align-items: flex-start;
        text-align: justify;
		
    }
	.topnav  {
		width: 100%;
		
	  }
	  /*.topnav a {
		float: left;
		display: block;
		color: #f2f2f2;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
		position: static;
	  }*/
	.TituloImg{
		display: flex;		
		justify-content: center;
		align-items: center;
		height: 40vh;
	}
	.Titulo {
		font-size: 21px; /* Tamaño de fuente ajustado */
		padding: 0; /* Padding ajustado */
		width: 100%;
		max-width: 480px;
		
    }
	
    .seccion-noticias {
        flex-direction: column;
    }

    .noticia-individual {
        width: 100%;
        margin-bottom: 10px;
    }

    .contenedor-contacto {
        width: auto;
		height: auto; /* Altura automática para adaptarse al contenido */
        padding: 20px; /* Padding para no tocar los bordes de la pantalla */
    }

    .form-content {
        width: auto; /* Ancho completo para aprovechar el espacio */
        padding: 40px 20px; /* Padding reducido */
        border-radius: 15px; /* Radio de borde reducido */
    }

    .form-content h1 {
        font-size: 24px; /* Tamaño de fuente reducido */
        margin-bottom: 40px; /* Espacio inferior reducido */
    }

    .input-field {
        margin: 10px 0; /* Espacio entre campos reducido */
    }

    .input-group {
        height: auto; /* Altura automática para adaptarse al contenido */
    }

    .btn-field button {
        flex-basis: auto; /* Base flexible para ajustarse al contenedor */
        width: 100%; /* Ancho completo para aprovechar el espacio */
        margin-bottom: 10px; /* Espacio inferior para separar del siguiente elemento */
    }
	footer > .contenedor-pie-pagina{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	

@media screen and (max-width: 600px) {
	.topnav a:not(:first-child) {display: none;}
	.topnav a.icon {
	  float: right;
	  display: block;
	}
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive a.icon {
	  position: absolute;
	  right: 0;
	  top: 0;
	}
	.topnav.responsive a {
	  float: none;
	  display: block;
	  text-align: left;
	}
  }
}